.modal {
  margin: auto;
  max-width: 100%;
  padding: 20px;
}

.readme-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  text-decoration: underline;
}

.readme-paragraph {
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.6;
}

button {
  height: 50px;
  width: 80px;
  font-size: large;
  background-color: red;
  color: white;
}
