/* FirstSection.css */

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
  background-color: rgb(230, 230, 230);
}

.heading {
  height: 15%;
}

.charts {
  height: 30%;
  border: 10px;
}

.table {
  height: 55%;
  overflow-y: auto;
  position: relative;
  margin-top: 20px;
  max-height: 100%;
}
